<h3>Our Brandy</h3>
<section class="products-wrapper">
    <section class="products-list">
        <section class="product-card">
            <div class="product-image">
                <img src="https://cdn2.bigcommerce.com/server5500/tpbc2s65/products/1395/images/1428/paulmassonbrandygrandeamber__97234__60868.1358534232.1280.1280.jpg?c=2"
                    alt="Paul Masson VS Brandy 750ml" />
            </div>
            <div class="product-details">

                <header class="product-header">
                    <h5>Paul Masson VS Brandy 750ml</h5>
                </header>

                <span class="product-price">50.95$</span>

                <p>A Smooth Sophisticated Brandy Crafted In The European Tradition. Aged In Oak Barrels. Paul Masson VS
                    Is An Award Winning Favorite With A Rich Amber Glow, And Slightly Sweet Taste Profile Featuring
                    Notes Of Caramel And Vanilla. ...</p>

                <div class="product-action">

                    <a class="details-btn"> <i class="fas fa-wine-bottle"></i> details </a>
                    <button class="like-btn"><i class="fas fa-thumbs-up"></i><span>0</span></button>
                    <button class="dislike-btn"><i class="fas fa-thumbs-down"></i><span>0</span></button>
                    <button class="add-btn"> <i class="fas fa-shopping-cart"></i> add to cart </button>
                    <!-- admin btns -->
                    <a class="edit-btn"> <i class="fas fa-edit"></i> edit </a>
                    <button class="delete-btn"> <i class="fas fa-trash-alt"></i> delete </button>

                </div>

            </div>
        </section>

        <section class="product-card">
            <div class="product-image">
                <img src="https://static01.nyt.com/images/2018/08/22/dining/22Burner-Brandy/merlin_142468662_15c10ee2-28c5-4568-ab91-ce8d7a730457-superJumbo.jpg"
                    alt="Bertoux Brandy 750ml" />
            </div>
            <div class="product-details">

                <header class="product-header">
                    <h5>Bertoux Brandy 750ml</h5>
                </header>

                <span class="product-price">50.95$</span>

                <p>BERTOUX Brandy is an elegant blend of pot‑distilled California Brandies, aged from three to seven years in French and American oak. The brandy showcases vibrancy, elegance, and dimensionality, with signature layers of flavor, enduring length and finish that elevates and brings new energy to the storied Sidecar.</p>

                <div class="product-action">

                    <a class="details-btn"> <i class="fas fa-wine-bottle"></i> details </a>
                    <button class="like-btn"><i class="fas fa-thumbs-up"></i><span>0</span></button>
                    <button class="dislike-btn"><i class="fas fa-thumbs-down"></i><span>0</span></button>
                    <button class="add-btn"> <i class="fas fa-shopping-cart"></i> add to cart </button>
                    <!-- admin btns -->
                    <a class="edit-btn"> <i class="fas fa-edit"></i> edit </a>
                    <button class="delete-btn"> <i class="fas fa-trash-alt"></i> delete </button>

                </div>

            </div>
        </section>

        <section class="product-card">
            <div class="product-image">
                <img src="https://www.gourmetencasa-tcm.com/14309-large_default/lepanto-solera-gran-reserva-70cl.jpg"
                    alt="Lepanto Brandy Solera Gran Reserva" />
            </div>
            <div class="product-details">

                <header class="product-header">
                    <h5>Lepanto Brandy Solera Gran Reserva</h5>
                </header>

                <span class="product-price">50.95$</span>

                <p>Lepanto is the only brandy to be distilled in the city of Jerez. Established in 1886, the company’s brandies are all made from Palomino grapes and aged for 15 years, the difference being the cask used. The Solera Gran Reserva is matured in Fino casks, leading to a dry and elegant delicious brandy.</p>

                <div class="product-action">

                    <a class="details-btn"> <i class="fas fa-wine-bottle"></i> details </a>
                    <button class="like-btn"><i class="fas fa-thumbs-up"></i><span>0</span></button>
                    <button class="dislike-btn"><i class="fas fa-thumbs-down"></i><span>0</span></button>
                    <button class="add-btn"> <i class="fas fa-shopping-cart"></i> add to cart </button>
                    <!-- admin btns -->
                    <a class="edit-btn"> <i class="fas fa-edit"></i> edit </a>
                    <button class="delete-btn"> <i class="fas fa-trash-alt"></i> delete </button>

                </div>

            </div>
        </section>

    </section>
</section>