<section class="details-wrapper" *ngIf="product !== undefined">
    <section class="details-img">
        <img src={{product.image}} alt={{product.title}} />
    </section>
    <section>
        <div class="details">
            <header class="details-header">
                <h5>{{product.title}}</h5>
            </header>

            <span class="details-price">{{product.price?.toFixed(2)}}$</span>
            <p>{{product.description}}</p>

            <div class="details-action" *ngIf="userService.currentUser$ | async">
                <button class="like-btn" (click)="like(product.id)"><i
                        class="fas fa-thumbs-up"></i><span>{{product.likes?.length || 0}}</span></button>
                <button class="dislike-btn" (click)="dislike(product.id)"><i
                        class="fas fa-thumbs-down"></i><span>{{product.dislikes?.length || 0}}</span></button>
                <button class="add-btn" (click)="cartHandler()"> <i class="fas fa-shopping-cart"></i> add to cart
                </button>

                <ng-container *ngIf="userService.isAdmin">
                    <a [routerLink]="['/brandy-catalog', product.id, 'edit']" class="edit-btn"><i
                        class="fas fa-edit"></i>edit</a>
                <button class="delete-btn" (click)="deleteHandler(product.id)"> <i class="fas fa-trash-alt"></i>
                    delete</button>
                </ng-container>
                
            </div>

        </div>
    </section>
</section>


<section class="commentSection" *ngIf="userService.currentUser$ | async">
    <h5>Comments</h5>

    <ng-container *ngIf="comments.length > 0; else noComments">

        <div class="comment" *ngFor="let comment of comments">
            <p><span class="author">{{comment.author}}</span> - <span class="date">{{comment.createdAt |
                    date:'short':'BG'}}</span></p>
            <p class="comment-content">{{comment.content}}</p>
        </div>
    </ng-container>

    <ng-template #noComments>
        <div class="comment">
            <p class="comment-content">There are no comments yet...</p>
        </div>
    </ng-template>
</section>

<form class="commentForm" #commentForm="ngForm" (ngSubmit)="comment(product.id, commentForm.value)" *ngIf="userService.currentUser$ | async">
    <h5>Add a review</h5>
    <label for="author">From:</label>
    <input type="text" name="author" id="author" [ngModel]="'Anonymous'" />

    <label for="content">Comment:</label>
    <textarea name="content" id="content" placeholder="Leave a comment..." cols="5" rows="2" #content="ngModel" ngModel
        required></textarea>
    <p class="error-msg" *ngIf="content.touched && content.errors?.['required']">Please, write your comment!</p>

    <input type="submit" [disabled]="commentForm.invalid" value="Create comment">
</form>