<h3>Registration Page</h3>
<section class="form-wrapper">
    <section class="form-section">
        <form class="register-form">
            <label for="register-name">Name <span class="required">*</span></label>
            <input type="text" class="form-input" id="register-name" name="name" placeholder="Ivan Ivanov" />
            <label for="register-email">Email address<span class="required">*</span></label>
            <input type="email" class="form-input" id="register-email" name="email" placeholder="ivan@mail.bg" />
            <label for="register-password">Password <span class="required">*</span></label>
            <input type="password" class="form-input" id="register-password" name="password" placeholder="******" />
            <label for="register-repeat-password">Repeat Password <span class="required">*</span></label>
            <input type="password" class="form-input" id="register-repeat-password" name="rePassword"
                placeholder="******" />
            <button type="submit" class="register-button">Register</button>
            <p>Already have an account...
                <a routerLink="/login">Login</a> now.
            </p>
        </form>
    </section>
    <section class="form-img">
        <img src="../../../assets/nathan-dumlao-8pJ0vNbsMJE-unsplash.jpg"
            alt="" />
    </section>
</section>