<h3>Registration Page</h3>
<section class="form-wrapper">
    <section class="form-section">
        <form class="register-form" #registerForm="ngForm" (ngSubmit)="registerHandler(registerForm.value)">
            <!-- <label for="register-name">Name </label>
            <input type="text" class="form-input" id="register-name" name="name" placeholder="Ivan Ivanov"
                #name="ngModel" ngModel required />
            <p class="error-msg" *ngIf="name.touched && name.errors?.['required']"> Name is required! </p> -->


            <label for="register-email">Email address</label>
            <input type="email" class="form-input" id="register-email" name="email" placeholder="ivan@mail.bg"
                #emailInput="ngModel" ngModel required />
            <p class="error-msg" *ngIf="emailInput.touched && emailInput.errors?.['required']"> Email is required! </p>

            <label for="register-password">Password </label>
            <input type="password" class="form-input" id="register-password" name="password" placeholder="******"
                #password="ngModel" ngModel required minlength="6" />
                <p class="error-msg" *ngIf="password.errors?.['minlength']">Password must be at least 6 characters long!</p>

            <label for="register-repeat-password">Repeat Password </label>
            <input type="password" class="form-input" id="register-repeat-password" name="rePassword"
                placeholder="******" #rePassword="ngModel" ngModel required minlength="6" />
                <p class="error-msg" *ngIf="rePassword.errors?.['minlength']">Password must be at least 6 characters long!</p>

            <button type="submit" class="register-button">Register</button>
            <p>Already have an account...
                <a routerLink="/login">Login</a> now.
            </p>
        </form>
    </section>
    <section class="form-img">
        <img src="../../../assets/nathan-dumlao-8pJ0vNbsMJE-unsplash.jpg" alt="" />
    </section>
</section>