<a>
    <section class="home-article">
        <section class="home-article-image">
            <img src="https://images.unsplash.com/photo-1601506340309-07309cf0c4a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Fortified Wines" />
        </section>
        <header class="home-article-header">
            <h6>Fortified Wines</h6>
        </header>
        <section class="home-article-content">
            <p>Fortified wines are wines with spirits like brandy added in during the fermentation process. Because these wines are sweetened by the alcohol, the ones with lower alcohol content are considered dessert wines and are also paired with desserts.
                Starter Picks: Port, Sherry, Madeira, Marsala. ...</p>
        </section>
    </section>
</a>
