<h3>Edit Product</h3>
<div class="form-wrapper edit-product" *ngIf="product">
    <section class="form-section edit-product-section">
        <form class="edit-product-form" #editForm="ngForm" (ngSubmit)="editHandler()">
            <label for="product-title">Title</label>
            <input type="text" class="form-input" id="product-title" name="title" #title="ngModel" [(ngModel)]="product.title" required>
            <p class="error-msg" *ngIf="title.touched && title.errors?.['required']"> Title is required! </p>

            <label for="product-description">Description</label>
            <textarea cols="50" rows="5" id="product-description" name="description" #description="ngModel" [(ngModel)]="product.description" required></textarea>
            <p class="error-msg" *ngIf="description.touched && description.errors?.['required']"> Description is required! </p>

            <label for="product-price">Price</label>
            <input type="text" class="form-input" id="product-price" name="price" #price="ngModel" [(ngModel)]="product.price" required>
            <p class="error-msg" *ngIf="price.touched && price.errors?.['required']"> Price is required! </p>

            <label for="product-img">Image</label>
            <input type="text" class="form-input" id="product-img" name="image" #image="ngModel" [(ngModel)]="product.image" required>
            <p class="error-msg" *ngIf="image.touched && image.errors?.['required']"> Image is required! </p>

            <button type="submit" class="edit-product-button">Edit</button>
        </form>
    </section>
</div>