<header class="site-header">
    <section class="header-logo">
        <h1>
            <a routerLink="/">Brandy Store</a>
        </h1>
        <p>Angular</p>
    </section>
    <section>
        <ul class="header-contacts">
            <li><strong>Phone:</strong>+359 888 bra ndy</li>
            <li><strong>Email:</strong>email@mail.bg</li>

            <li class="cart">
                <a routerLink="/user/cart">
                    <i class="fas fa-shopping-bag"></i>
                    <span class="cart-count" *ngIf="userId">{{(cart$ | async)?.length || 0}}</span>
                </a>
            </li>

        </ul>
    </section>

</header>

<nav class="mainav">
    <div>
        <a routerLink="/">Home</a>
        <a routerLink="/brandy-catalog">Shop</a>
        <a routerLink="/articles">Articles</a>

        <!-- admin navigation -->
        <a routerLink="/brandy-catalog/create-product" *ngIf="userService.isAdmin">Create product</a>
        <a routerLink="/articles/create-article" *ngIf="userService.isAdmin">Create article</a>
    </div>

    <div class="user" *ngIf="email$ | async as email; else login">
        <a routerLink="/user/profile">Welcome, {{email}} !</a>
        <a routerLink="/" (click)="logoutHandler()">Logout</a>
    </div>

    <ng-template #login>
        <div class="guest">
            <a routerLink="/user/login">Login</a>
            <a routerLink="/user/register">Register</a>
        </div>
    </ng-template>

</nav>