<h3>Your Likes</h3>
<section class="products-wrapper">
    <section class="products-list">

        <section class="user-product-card">
            <div class="user-product-image">
                <img src="" alt="" />
            </div>
            <div class="user-product-details">

                <header class="user-product-header">
                    <h5>Title</h5>
                </header>

                <span class="user-product-price">50$</span>

                <p>Lorem ipsum...</p>

                <div class="user-product-action">

                    <a routerLink="['/brandy-catalog'] " class=" details-btn">
                        <i class="fas fa-wine-bottle"></i>
                        details
                    </a>

                </div>

            </div>
        </section>

        <h1 class="no-content">Check our
            <a routerLink="/brandy-catalog">catalog</a> and find your brandy...
        </h1>

    </section>
</section>