<footer class="site-footer">
    <section class="footer-wrapper">
        <section class="contacts">
            <h6 class="footer-title">Contacts</h6>
            <ul>
                <li>
                    <address>
                        Street Name &amp; Number, Town, Postcode/Zip
                    </address>
                </li>
                <li>+359 888 000 000</li>
                <li>email@mail.bg</li>
            </ul>
        </section>

        <section class="links">
            <h6 class="footer-title">Links</h6>
            <ul>
                <li><a>Help & FAQs</a></li>
                <li><a>Terms and Condition</a></li>
                <li><a>Privacy Policy</a></li>
                <li><a>Delivery</a></li>
                <li><a>Refer a Friend</a></li>
            </ul>
        </section>

        <section class="social-media">
            <h6 class="footer-title">Social media</h6>
            <ul>
                <li><a><i class="fab fa-facebook-square"></i></a></li>
                <li><a><i class="fab fa-twitter-square"></i></a></li>
                <li><a><i class="fab fa-instagram"></i></a></li>
            </ul>
        </section>
    </section>
</footer>
<section class="copyright">
    <p>Copyright &copy; 2022 - All Rights Reserved - <a>Brandy Store Angular</a></p>
</section>
