<article class="blog-article-card">
    <div class="blog-article-card-image">
        <a [routerLink]="['/articles', article.id]">
            <img alt={{article.title}} src={{article.image}} />
        </a>
    </div>
    <header class="blog-article-card-header">
        <h6 class="blog-article-card-title">
            <a [routerLink]="['/articles', article.id]">{{article.title | shortPipe: 25}}</a>
        </h6>
    </header>
    <div class="blog-article-card-body">
        <p>
            {{article.content | shortPipe: 250}}
        </p>
    </div>
    <footer class="blog-article-card-footer">
        <a [routerLink]="['/articles', article.id]" class="read-more">read more</a>
    </footer>
</article>