<h3>Edit Article</h3>
<div class="form-wrapper edit-article"  *ngIf="article">
    <section class="form-section edit-article-section">
        <form class="edit-article-form" #editForm="ngForm" (ngSubmit)="editHandler()">
            <label htmlFor="article-title">Title</label>
            <input type="text" class="form-input" id="article-title" name="title" #title="ngModel" [(ngModel)]="article.title" required>
            <p class="error-msg" *ngIf="title.touched && title.errors?.['required']"> Title is required! </p>

            <label htmlFor="article-content">Content</label>
            <textarea cols="50" rows="15" id="article-content" name="content" #content="ngModel" [(ngModel)]="article.content" required></textarea>
            <p class="error-msg" *ngIf="content.touched && content.errors?.['required']"> Description is required! </p>

            <label htmlFor="article-img">Image</label>
            <input type="text" class="form-input" id="article-img" name="image" #image="ngModel" [(ngModel)]="article.image" required>
            <p class="error-msg" *ngIf="image.touched && image.errors?.['required']"> Image is required! </p>

            <button type="submit" class="edit-article-button">Edit</button>
        </form>
    </section>
</div>