<h3>Create New product</h3>
<div class="form-wrapper create-product">
    <section class="form-section create-product-section">
        <form class="create-product-form">
            <label for="product-title">Title<span class="required">*</span></label>
            <input type="text" class="form-input" id="product-title" name="title">
            <label for="product-description">Description<span class="required">*</span></label>
            <textarea cols="50" rows="5" id="product-description" name="description"></textarea>
            <label for="product-price">Price<span class="required">*</span></label>
            <input type="text" class="form-input" id="product-price" name="price">
            <label for="product-img">Image<span class="required">*</span></label>
            <input type="text" class="form-input" id="product-img" name="image">
            <button type="submit" class="create-product-button">Create</button>
        </form>
    </section>
</div>