<h3>Login Page</h3>
<div class="form-wrapper">
    <section class="form-img">
        <img src="../../../assets/amr-taha-Tq7E1inoPig-unsplash.jpg" alt="" />
    </section>
    <section class="form-section">
        <form class="login-form" #loginForm="ngForm" (ngSubmit)="loginHandler(loginForm.value)">
            <label for="login-email">Email address</label>
            <input type="email" class="form-input" id="login-email" name="email" placeholder="ivan@mail.bg" #emailInput="ngModel" ngModel required touched/>
            <p class="error-msg" *ngIf="emailInput.touched">Email is required!</p>

            <label for="login-password">Password </label>
            <input type="password" class="form-input" id="login-password" name="password" placeholder="******" #password="ngModel" ngModel required minlength="6" />
            <p class="error-msg" *ngIf="password.errors?.['minlength']">Password must be at least 6 characters long!</p>
            
            <button type="submit" class="login-button">Login</button>
            <p>Don't have an account? <a routerLink="/register">Register</a> now.</p>
        </form>
    </section>
</div>