<h3>Shopping Cart</h3>
<ng-container *ngIf="showCart; else checkout">
    <section class="cart-wrapper">

        <ng-container *ngIf="cartList.length > 0; else emptyCart">
            <section class="order-card" *ngFor="let product of cartList">
                <div class="order-image">
                    <img src="{{product.image}}" alt="{{product.title}}" />
                </div>
                <div class="order-details">

                    <header class="order-header">
                        <h5>{{product.title}}</h5>
                    </header>

                    <span class="order-price">{{(product.price * product.qty).toFixed(2)}} $</span>

                    <div class="order-action">
                        <div class="btn-minus">
                            <i class="fas fa-minus" (click)="productDecrease(product)"></i>
                        </div>
                        <div class="product-qty">{{product.qty}}</div>
                        <div class="btn-plus">
                            <i class="fas fa-plus" (click)="productIncrease(product)"></i>
                        </div>

                        <button (click)="productDelete(product.id)">Delete</button>

                    </div>

                </div>
            </section>
        </ng-container>

        <ng-template #emptyCart>
            <h3 class="no-content">Your shopping cart is empty</h3>
        </ng-template>

    </section>

    <section class="summary-box">
        <h4>Cart Summary</h4>
        <div>Total Products: <span>{{totalQty}}</span></div>
        <div>Total Price to Pay: <span>{{totalToPay.toFixed(2)}} $</span></div>
        <button (click)="showCart = false">Continue</button>
    </section>

</ng-container>

<ng-template #checkout>

    <section class="checkout-box">
        <h4>Checkout</h4>
        <form #checkoutForm="ngForm">

            <div class="personal-info">
                <div>
                    <label htmlFor="phone">Phone</label>
                    <input type="text" class="checkout-input" id="phone" name="phone" placeholder="+359 888 000 000"
                        #phoneInput="ngModel" ngModel required touched />
                    <p class="error-msg" *ngIf="phoneInput.touched && phoneInput.errors?.['required']"> Phone is
                        required!
                    </p>
                </div>
                <div>
                    <label htmlFor="address">Address</label>
                    <input type="text" class="checkout-input" id="address" name="address"
                        placeholder="Street Name & Number, Town, Postcode/Zip" #addressInput="ngModel" ngModel required
                        touched />
                    <p class="error-msg" *ngIf="addressInput.touched && addressInput.errors?.['required']"> Address is
                        required!
                </div>

            </div>
            <div>Total Products: <span>{{totalQty}}</span></div>
            <div>Total Price to Pay: <span>{{totalToPay.toFixed(2)}} $</span></div>
            <button (click)="endOrder()">Submit</button>
        </form>
    </section>
</ng-template>